body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  background: linear-gradient(90deg, #00252d -21.05%, #780000 121.05%);
}

p,
a,
a:hover,
span {
  font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif !important;
  color: #cbcfd4;
  font-weight: normal !important;
  line-height: 1.1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Merriweather', 'Times New Roman', Times, serif;
  color: #a0d2e9;
}

@media (min-width: 320px) {
  p {
    font-size: 16px !important;
    text-align: left !important;
  }
  h1 {
    font-size: 38px !important;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left
  }
  h2 {
    font-size: 16px !important;
  }
  h3,
  h4,
  h5 {
    font-size: 14px !important;
    font-weight: bold;
  }
  h5 {
    font-size: 18px !important;
  }
}

@media (min-width: 760px) {
  p {
    font-size: 16px !important;
    font-weight: normal !important;
  }
  h1 {
    font-size: 42px !important;
  }
  h2 {
    font-size: 18px !important;
  }
  h3,
  h4 {
    font-size: 14px !important;
    font-weight: normal !important;
  }
  h5 {
    font-size: 20px !important;
  }
}

@media (min-width: 1020px) {
  p {
    font-size: 18px !important;
    font-weight: normal !important;
  }
  h1 {
    font-size: 48px !important;
    font-weight: norma !important;
  }
  h2 {
    font-size: 24px !important;
  }
  h3,
  h4 {
    font-size: 18px !important;
  }
  h5 {
    font-size: 24px !important;
  }
}

@media (min-width: 1150px) {
  h1 {
    font-size: 56px !important;
  }
  h2 {
    font-size: 42px !important;
  }
  h3,
  h4 {
    font-size: 20px !important;
  }
  h5 {
    font-size: 28px !important;
  }
}

@media (min-width: 1400px) {
}

.styled-button-1 {
  background: linear-gradient(90deg, #de533c 10.79%, #a73313 92.45%), #c4c4c4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  color: #f2f2f2 !important;
  padding: 15px 35px;
  text-decoration: none !important;
}

.styled-button-1 :hover {
  text-decoration: none;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page404 {
  padding: 30px;
  margin-top: 200px;
  margin-bottom: 200px;
}

.page404 p {
  text-align: left;
  padding: 0;
  magin: 0;
}

.page404 h1 {
  margin-top: 50px;
}

.quemsomos {
  margin-top: 50px;
}

.siteHeader {
  padding: 100px 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px 0px 50px 0px;
  width: 100%;
  height: 90vh;
  -webkit-box-shadow: 0px 30px 34px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 30px 34px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 30px 34px -12px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

@media (min-width: 760px) {
  .siteHeader {
    padding: 100px 100px;
  }
}
@media (min-width: 1024px) {
  .siteHeader {
    padding: 100px 200px;
  }
}
@media (min-width: 1400px) {
  .siteHeader {
    padding: 200px 100px 100px 200px;
  }
}
@media (min-height: 1024px) {
  .siteHeader {
    height: 60vh;
  }
}

.siteHeader h1 {
  text-align: left;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.siteHeader p {
  text-align: left;
  padding: 10px 10px 10px 10px;
  margin-left: -10px;
  text-shadow: 1px 1px rgb(0, 0, 0);
  background-color: rgb(0, 36, 44, 0.45);
  border-radius: 5px;
}

.quemsomos p {
  text-align: left;
  padding: 10px 0px;
}

.quemsomos .row {
  margin-bottom: 80px;
}

.quemsomos .imgAlign {
  display: flex;
  -webkit-align-items: center; /* Safari 7.0+ */
  align-items: center;
  align-content: center;
}

.quemsomos img {
  width: 100%;
  margin: 0px auto;
}

@media (min-width: 1024px) {
  .quemsomos img {
    width: 80%;
  }
}

.editCases {
  margin-top: 100px;
}

.editCases input {
  display: block;
  width: 100%;
  margin: 10px 0px;
}

.editCases textarea {
  display: block;
  width: 100%;
  margin: 10px 0px;
}

.editCases button {
  border-radius: 5px;
  padding: 10px 15px;
  margin-right: 15px;
  margin-top: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
}

.editCasesButtons {
  margin-top: -35px;
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 10px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.75);
}

.casesContainer {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1200) {
  .casesContainer {
    width: 90%;
  }
}

@media (min-width: 460) {
  .casesContainer {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.homeMovieSection h1,
p {
  text-align: center;
  padding: 10px 50px;
}

.homeMovieSection {
  margin-top: 100px;
}

.team-section .card-container {
  width: 90%;
  margin: 0px auto;
  flex-wrap: wrap;
  justify-content: center;
}

.teamButton {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  display: inline-flex;
  width: 50px;
  height: 50px;
  border: solid 1px gray;
  margin: 10px;
  color: white;
  text-align: center;
  padding-top: 15px;
  padding-left: 15px;
}

.team-section h4 {
  font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif;
  color: rgb(224, 204, 88);
  font-weight: bold;
  font-size: 12px !important;
  text-transform: uppercase;
}

.team-section p {
  font-size: 14px !important;
  text-align: left;
}

.team-section h1 {
  text-align: left;
}

.team-section .card-text {
  visibility: hidden;
  height: 0px;
}

@media (min-width: 480px) {
  .team-section .card-text {
    text-align: center;
    visibility: visible;
    height: auto;
  }

  .team-section h1,
  .team-section p {
    text-align: center;
  }
}

@media (min-width: 760px) {
  .team-section .card {
    margin: 30px 20px;
    padding: 10px 5px;
  }
}

.movie-case {
  margin: 100px 20px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.8);
}

.caseLeftPanel {
  padding: 50px 25px 50px 50px;
  background: #242a36;
}

@media (max-width: 1200px) {
  .movie-case {
    margin: 50px 20px;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.8);
  }
  .caseLeftPanel {
    padding: 25px;
    background: #242a36;
  }
}

@media (max-width: 460px) {
  .caseLeftPanel {
    padding: 15px;
    background: #242a36;
  }
}
.caseLeftPanel h4 {
  font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif !important;
  color: #cbcfd4;
  font-weight: normal !important;
  font-size: 10px !important;
  text-transform: uppercase;
}
.caseRightPanel {
  padding: 25px;
  background: linear-gradient(90deg, #de533c 10.79%, rgb(107, 91, 1) 80%),
    #c4c4c4;
}
.caseLeftPanel p {
  text-align: left;
  padding-left: 0px;
}

.caseLeftPanel h5 {
  font-size: 12px !important;
  color: white;
  margin-bottom: 18px;
}

.movieCaseImages {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
  flex-wrap: wrap;
}

.movieCaseImages img {
  display: flex;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 5px;
  background-color: #444444;
  border-radius: 5px;
  width: 150px;
  height: 150px;
}

.homeCarousel {
  justify-self: center;
  margin: 50px auto;
  text-align: center;
  position: relative;
  width: 70%;
}

.homeCarousel h1 {
  font-style: normal;
  font-weight: normal;
  color: #a0d2e9;
  text-align: center;
  font-weight: bold;
  padding: 20px 10px 0px 20px;
}

.homeCarousel p {
  color: #cbcfd4;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

.homeCarousel lead {
  display: none;
}

.call-to-action {
  background: linear-gradient(180deg, #866a1c 0%, #242a36 100%);
  box-shadow: 0px -30px 40px rgba(0, 0, 0, 0.85);
  padding: 100px 30px;
  margin-bottom: 50px;
  text-align: center;
}

.call-to-action h1,
p {
  margin-bottom: 30px;
  color: rgba(246, 244, 250, 0.746);
}

.call-to-action p {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 40px;
  color: #f6f4fa;
}

@media (max-width: 760px) {
  .call-to-action p {
    text-align: left;
    padding: 0px 0px;
  }
}

.style-button-1 {
  padding: 10px 25px;
  background: linear-gradient(90deg, #de533c 10.79%, #a73313 92.45%), #c4c4c4;
  border-radius: 50px;
  color: #fff385;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.75);
  text-align: center;
}

.style-button-2 {
  padding: 10px 25px;
  background: none;
  border-radius: 50px;
  color: coral;
  border: solid 1px coral;
  text-align: center;
}

.style-button-3 {
  font-size: 12px;
  background: coral;
  border-radius: 50px;
  color: black;
  text-align: center;
  padding: 3px 5px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .style-button-3 {
    display: block;
  }
}

.footer p {
  font-family: 'MerriWeather Sans', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  font-size: 14px;
  text-align: left;
  color: #bdbdbd;
  padding: 0px;
  margin: 0px;
}

.footer ul {
  list-style: none;
  padding: 0px;
}

.footer ul li {
  overflow: hidden;
  white-space: nowrap;
}

.footer-copyright {
  background: #693121;
  box-shadow: 0px -15px 40px rgba(0, 0, 0, 0.55);
  color: white;
  padding: 30px;
  text-align: center;
}

.footer-copyright h4 {
  padding: 20px;
}

.footer h3 {
  font-family: 'MerriWeather Sans', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 10px;
  text-transform: uppercase;
  color: #d69578;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
  height: 40px;
  overflow: hidden;
}

.footer h4 {
  padding: 20px;
}

.footer a {
  color: #bdbdbd;
  text-decoration: none;
}

.footerIcons {
  color: #bdbdbd;
}

.footerCol {
  margin-top: 20px;
}

.menuIsFixed {
  padding-top: 70px;
}

.jumboImage {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.jumboSize {
  height: 90vh;
}

.jumbotron h1 {
  color: #a0d2e9;
  padding-top: 10vh;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.65);
  margin-left: -5px;
}

.jumbotron p {
  font-style: normal;
  font-weight: normal;
  line-height: 30px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.65);
}

.jumbotron .lead {
  text-align: left;
  margin: 0px;
  padding: 0px;
}

.casesFormHeader {
  margin: 0 50px;
  background: #465c2f;
  margin-top: 100px !important;
  border-radius: 10px;
  box-shadow: 0px -10px 40px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

.casesFormHeader h4 {
  text-align: center !important;
}

.casesFormContainer {
  background: linear-gradient(180deg, #866f1c 55.37%, #465c2f 100%);
  box-shadow: 0px -10px 40px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  margin-top: -10px !important;
  padding: 20px;
}

.casesFormHeader h4 {
  text-align: center !important;
  padding: 20px;
}

.casesFormContainer ul {
  margin-top: 50px;
}
.casesFormContainer li {
  font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif !important;
  margin: 0 0 10px 0;
  padding: 0;
  text-align: left;
  font-weight: 300 !important;
  color: rgb(202, 202, 202);
  font-size: 0.8em;
  line-height: 1.2;
}

.editCasesForm label {
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.editCasesForm h1 {
  color: white;
  font-weight: bold;
}

.editCasesForm p {
  text-align: left !important;
  margin: 0 0 20px 0;
  padding: 0;
}

.editCasesForm legend {
  color: white;
  margin-bottom: 0px;
  margin-top: 50px;
}

.editButtons button {
  margin-bottom: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
