.footer {
    background-color: #242A36;
    padding: 40px;
}

.footer p {
    font-family: 'MerriWeather Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    font-size: 14px;
    text-align: left;
    color: #BDBDBD;
    padding: 0px;
    margin: 0px;
}

.footer ul {
    list-style: none;
    padding: 0px;
 }

 .footer ul li {
    overflow: hidden;
    white-space: nowrap;
 }

 .footer-copyright {
    background: #693121;
    box-shadow: 0px -15px 40px rgba(0, 0, 0, 0.55);
    color: white;
    padding: 30px;
    text-align: center;
 }

 .footer h3{
        font-family: 'MerriWeather Sans', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 10px;
        text-transform: uppercase;
        color: #D69578;
        margin-top: 20px;
        margin-bottom: 5px;
        margin-left: 0px;
        margin-right: 0px;
        height: 40px;
        overflow: hidden;
 }

 .footer a {
     color: #BDBDBD;
     text-decoration: none;
 }

 .footerIcons {
    color: #BDBDBD;
 }

 .footerCol {margin-top: 20px}

